body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: roboto, arial, sans-serif;
    background: rgb(221, 245, 205);
 }
h1{
    padding-left: 12px;
 }
main{
    flex: 1;
}
.button img {
    width: 350px;
    margin: 35px;
  }

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 1px;
} 
.resetButton{
    color: red;
    background-color: darkgray;
    margin-top: 15px;
    margin-bottom: 15px;
}
.resetButton:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 1px;
}
#game-choices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-choices img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 10px;
    margin: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
    background-color: lightgray;
  }

.social-links{
    height: 30px;

  }
a{
    text-decoration: none;
}